@import "tailwindcss";


html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  font-family: system-ui, sans-serif;
  background-color: #F9F9F9;
  color: #1f2937; /* Tailwind gray-800 */
}
